/* You can add global styles to this file, and also import other style files */
body {
	background: #355c7d;
	background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
	background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
	height: 100vh;
}